<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chỉnh sửa người dùng</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <!-- Liên kết file CSS -->
  </head>
  <body>
    <div class="container">
      <h1>Chỉnh sửa thông tin người dùng</h1>
      <form action="/edit/<%= employee._id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required />

        <label for="position">Position:</label>
        <input type="text" name="position" id="position" required />

        <label for="salary">Salary:</label>
        <input type="number" name="salary" id="salary" required />

        <button type="submit">Cập nhật</button>
      </form>
      <a href="/">Quay lại danh sách người dùng</a>
    </div>
  </body>
</html>
